.input--invalid {
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-color: rgb(255, 35, 35);
    border-right-color: rgb(255, 35, 35);
    border-top-color: rgb(255, 35, 35);
    border-bottom-color: rgb(255, 35, 35);
}
